* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Raleway', sans-serif;
    line-height: 1.4;
    font-size: 16px;
}

header {
    background-color: #000;
    padding: .8rem 0;

    .logo {
        font-size: 2.5rem;
        font-weight: 800;
        color: #fff;
    }
}

.hero {
    background-image: linear-gradient(120deg, rgba(82, 75, 168, 0.699) 0%, rgba(108, 111, 153, 0.692) 100%), url("../../assets/images/mujer-trabajo-oficina-usando-impresora.jpg");
    width: 100%;
    height: 530px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;

    h1 {
        margin-bottom: 2rem;
        max-width: 1000px;
        text-align: center;
        font-size: 3rem;
        font-weight: 900;
    }
}

.textos-hero {
    height: 500px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textos-hero p {
    font-size: 25px;
    margin-bottom: 20px;
}

.textos-hero a {
    display: inline-block;
    text-decoration: none;
    padding: 12px 15px;
    background: #4d6caf;
    border-radius: 8px;
    color: #fff;
    box-shadow: 5px 5px 5px #0c0c0c;
}

.textos-hero a:hover {
    background: #2a5298;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    transform: scale(1.03);
    cursor: pointer;
}

/*Estilos generales*/

.contenedor,
.wave-contenedor {
    width: 90%;
    max-width: 1000px;
    overflow: hidden;
    margin: auto;
    padding: 0 0 80px 0;
}

.contenedor {
    padding: 80px 0;
}

.titulo {
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    margin-bottom: 30px;
}

.titulo.left {
    text-align: left;
}

.titulo.right {
    text-align: right;
}

/*info*/
.info .titulo {
    font-weight: 600;
    font-size: 34px;
    text-align: left;
    margin-left: 50px;
    margin-bottom: 20px;
}

.info p {
    margin-left: 50px;

}


.objetiv-service {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0c0c0c;
    padding: 0%;
}

.service {
    display: flex;
    width: 50%;
    flex-direction: column;
    color: #bcc2ca;
    margin-right: 0%;
    padding-right: 0%;

    ul {
        list-style: square;
        li {
            margin: 0 0 .5rem 1rem;
        }
    }

}

.service h4 {
    margin-bottom: 40px;
    padding-left: 20%;
}

.service ul {
    list-style: none;
    margin-bottom: 10px;
}

.service .Telefono {
    display: block;
    position: relative;
    width: 100%;
    bottom: 0;
    left: 0;
    margin-right: 0%;
    margin-top: 120px;
    margin-bottom: 0%;
}

.objetiv-service img {
    max-width: 48%;
    height: auto;
    object-fit: contain;
}

/*cards*/
.cardsSection {
    background-image: linear-gradient(120deg, rgba(82, 75, 168, 0.699) 0%, rgba(108, 111, 153, 0.692) 100%);
    padding: 50px 0;
}

.cards-section {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.card {
    border-radius: 8pxpx;
    width: 33.33%;
    padding: 1rem;
}


.card {
    img {
        max-height: 300px;
        width: auto;
    }

    .card-body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card-text {
        text-align: center;
    }
}


.card a {
    background: #4d6caf;
    border-color: #4d6caf;
}

.card a:hover {
    background: #2a5298;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    transform: scale(1.03);
    cursor: pointer;
}


/*marcas*/
.marcas {
    display: flex;
    width: 100%;
    background-color: #fff;
}

.logos {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: 20px;
    align-items: center;
}

.marcas img {
    width: 150px;
    height: auto;
}

.marcas .img1 {
    width: 170px;
}

.marcas .img3 {
    width: 120px;
}

.img4,
.img5,
.img6 {
    width: 160px;
    height: 120px;
}

/*formulario*/

.web-site-formulario {
    background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
    color: #bcc2ca;
}

.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input {
    background: transparent;
    border: 0;
    border-radius: 8px;
    color: #fff;
    outline: none;
    border: 1px solid #bcc2ca;
    padding: 15px;
}

.input::placeholder {
    color: #bcc2ca;
    font-family: 'raleway', 'sans-serif';
}

input[type="text"],
input[type="email"],
input[type="tel"] {

    display: inline-block;
    width: 49%;
    margin-bottom: 30px;
}

.form textarea {
    width: 100%;
    margin-bottom: 15px;
}


.center-btn {
    width: 200px;
    display: flex;
    justify-content: center;
    margin-top: auto;
    padding: 12px 15px;
}

.btn-whatsapp {
    display: block;
    color: #fff;
    position: fixed;
    right: 20px;
    bottom: 20px;
    border-radius: 50%;
    text-align: center;
    z-index: 999;
}

.btn-whatsapp:hover {
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    transform: scale(1.03);
    cursor: pointer;
}

@media screen and (max-width:800px) {

    /* estilos generales */
    .titulo {
        font-size: 20px;
    }

    .titulo.left {
        text-align: center;
    }

    .info p {
        text-align: center;
    }

    .hero p {
        text-align: center;
        font-size: 20px;
        padding: 5%;
        margin-bottom: 35px;
    }

    /*sections*/
    header {
        width: 100%;
    }

    .hero {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        width: 100%;

    }

    .info {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .info h4 {
        text-align: center;
        font-size: 30px;
        text-align: justify;
    }

    .info p {
        text-align: center;
        font-size: 15px;
        margin: 2%;

    }

    /*objetive-service*/
    .objetiv-service {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .service {
        /*  flex-direction: column-reverse;
        justify-content: center;*/
        align-items: center;
        width: 100%;
    }

    .service h4 {
        font-size: 30px;
        text-align: center;
        padding-left: 2%;
        margin-bottom: 10%;
        margin-top: 2%;
        text-align: center;
    }

    .service .Telefono {
        display: inline-block;
        position: relative;
        width: 100%;
        bottom: 0%;
        left: 0%;
        margin-right: 0%;
        margin-top: 20%;
        margin-bottom: 0%;

    }

    .objetiv-service>img {
        width: 100%;
        flex-shrink: 0;

    }

    .imagen-service {
        width: 100%;

    }

    .cards-section {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .marcas .logos {
        display: flex;
        flex-wrap: wrap;
    }

}